@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  align-items: center;
  min-height: 100vh;
  margin: 50px;
}
.container {
  background-color: white;
}
.ui-container {
  padding: 20px;
  margin: 0;
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #111;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  background-color: aqua;
  color: black;
}
h2 {
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: #fff;
  border-bottom: 1px solid #111;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
